html, body, #container {
  height:100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

#ad {
	width: 100%;
	height: 100%;
}

#adPage {
	width: 100%;
	height: 100%;
	background:url(../images/sephoraMobile.png) no-repeat;
	background-size: 100%;
}

#expandContainer {
	width: 100%;
	height: 100%;
	display: none;
}

#camera {
	width:100%;
	height:100%;
}

#aspect {
	width: 100%;
	height: 100%;
	position: relative;
}

#bannerImg {
	width: 100%;
	position: relative;
	margin-top: 22%;
}

#preAccess {
	background:url(../images/background.jpg) center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding-top: 20%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#nails {
	position:absolute;
	top:20%;

}

.closeButton {
	width: 12%;
	position: fixed;
	top: 0;
	right: 0;
}

#instructions {
	width: 90%;
	position: relative;
	margin-left: 5%;
}

#prompt {
	width: 90%;
	position: relative;
	margin-left: 5%;
}

#fingers {
	position:absolute;
	top:20%;

}


#continue{
	width: 50%;
	position: relative;
	margin-left: 50%;
	transform: translateX(-50%);
}

#lockup {
	margin-top: 50px;
	height: 14%;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
}

#cameraView {
	display: none;
}

.uiBar {
	position: fixed;
	width: 100%;
	height: 8%;
	padding: 1% 0 1% 0;
	background: #000000;
	bottom: 0;
	left: 0;
}

.uiBarButton {
	position: relative;
	width: 100%;
	height: 80%;
	margin-top: 2%;
}

#shutterButton {
  height: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

#postSnap {
	display: none;
}

.postSnapUi {
	position: relative;
}

.uiRight, .uiLeft {
	width: 44%;

	display: inline-block;
}

.uiRight {
	float: right;
	padding-left: 3%;
	height: 100%;
}

.uiLeft {
	float: left;
	padding-right: 3%;
	height: 100%;
}

.uiButton {
	height: 100%;
}

#retakeButton {
	float: right;
}

#saveButton {

}

@media screen and (min-aspect-ratio: 325/546) { 
	.aspect {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media screen and (min-aspect-ratio: 392/546) { 
	.aspect {
		padding-left: 15%;
		padding-right: 15%;
	}
}

@media (min-width:801px)  {
	#preAccess {
		padding-top: 2%;
	}

	.aspect {
		padding-left: 30%;
		padding-right: 30%;
	}
}



